$meatWidth = 28px
$meatHeight = 2px

.burger
  position: absolute
  top: 10px
  left: 10px
  width: 50px
  height: 50px
  cursor: pointer
  z-index: 2

  @media screen and (min-width: $tabletWidth)
    display: none

.burger__meat
  position: absolute
  width: $meatWidth
  height: $meatHeight
  background: $black
  top: "calc(50% - %s / 2)" % $meatHeight
  left: "calc(50% - %s / 2)" % $meatWidth
  transition: all 150ms ease-in

.burger__meat--1 
  transform: translateY(-10px)

.burger__meat--2
  width: "calc(%s - 6px)" % $meatWidth

.burger__meat--3
  transform: translateY(10px)


.burger--close .burger__meat--1 
  transform: rotate(45deg)

.burger--close .burger__meat--2
  opacity: 0

.burger--close .burger__meat--3
  transform: rotate(-45deg)