.highlight 
  margin-bottom: 16px


.highlight pre 
  margin-bottom: 0
  word-break: normal


.highlight pre,
pre 
  padding: 16px
  overflow: auto
  font-size: 85%
  line-height: 1.45
  background-color: #f6f8fa
  border-radius: 3px

.hljs-comment
  color: #6a737d

.hljs-keyword
  color: #d73a49

.hljs-string
  color: #032f62

.hljs-name
  color: #22863a

.hljs-title,
.hljs-selector-class
  color: #6f42c1

.hljs-attribute,
.hljs-built_in
  color: #005cc5