@import '_burger'

.nav 
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  background: #fff
  visibility: hidden
  z-index: 1

  @media screen and (min-width: $tabletWidth)
    display: block
    visibility: visible
    padding-top: 3rem
    width: $navWidth
    position: fixed

.nav--active .nav
  visibility: visible


.nav__list
  text-align: right
  list-style: none
  margin: 0
  padding: 0
  width: 50%

  @media screen and (min-width: $tabletWidth)
    width: auto

  // Creates a drop-in animation when opening the mobile menu
  @media screen and (max-width: $tabletWidth - 1px)
    transform: translateY(-25px)
    opacity: 0
    
    .nav--active &
      transform: translateY(0)
      opacity: 1
      transition: all 500ms ease


.nav__list li
  margin-bottom: 3rem

  &:last-of-type
    margin-bottom: 0

  @media screen and (min-width: $tabletWidth)
    margin-bottom: 1.75rem


.nav__list a
  color: $grey
  text-decoration: none
  font-size: 2rem

  &.active
    color: $black
    
  &:hover
    color: $black

  @media screen and (min-width: $tabletWidth)
    font-size: 1rem
