$baseFontSize = 16
$fontSizeMobile = 14
$baseLineHeight = 1.5
$scale          = 1.414
$leading        = $baseLineHeight * 1rem
 
html
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif
  font-size: ($baseFontSize / 16) * 100%
  -webkit-font-smoothing: antialiased

  @media screen and (min-width: $tabletWidth)
    font-size: (16 / 16) * 100%

  // @media screen and (min-width: $desktopWidth)
  //   font-size: ($baseFontSize / 16) * 100%

h1,
h2,
h3,
h4,
h5,
h6
  margin-top: $leading
  margin-bottom: 0
  line-height: $leading

h1
  font-size: 1.5 * $scale * 1rem
  line-height: 1.5 * $leading
  margin-top: 1.5 * $leading

h2
  font-size: $scale * 1rem

h3 
  font-size: $scale / 2 * 1rem

h4
  font-size: $scale / 3 * 1rem

h5
  font-size: $scale / 4 * 1rem

p
  margin-top: $leading
  margin-bottom: 0
  line-height: $leading

ul,
ol
  padding-left: $leading
  margin-top: $leading
  margin-bottom: $leading

  li
    line-height: $leading

  ul,
  ol
    margin-top: 0
    margin-bottom: 0

blockquote
  margin-top: $leading
  margin-bottom: $leading
  line-height: $leading
  color: #666
  font-style: italic

pre
  margin-top: $leading

code
  color: $primary
  font-family: menlo, monospace
  font-size: 0.9rem

.lead
  font-size: $scale * 1rem