@import '../_main'
@import '../partials/_social-icons'


.splash-container
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  font-size: 16px

  @media screen and (min-width: $tabletWidth)
    font-size: 18px



.splash
  text-align: right

  h1
    font-size: 3.75em
    font-weight: 800
    line-height: 1
    letter-spacing: -2px

  p
    font-weight: 300
    width: 95%
    margin-left: auto
    line-height: 1.3em

    @media screen and (min-width: 600px)
      width: 75%

    @media screen and (min-width: $tabletWidth) 
      width: 65%
  
  a
    text-decoration: none

.fancy
  color: $primary

.handle
  color: $grey
  letter-spacing: 0.5px

.splash__skills
  display: flex
  flex-direction: column
  margin-top: 1.5rem
  
  span 
    font-weight: 300
    font-size: 1.414em

/* overrides */

.burger
  position: absolute

main
  padding-top: 0
  padding-bottom: 0
  height: 100%
