@import '../_main'
@import '../partials/_social-icons'
@import '../partials/_newsletter-signup'

.topics
  display: flex
  flex-wrap: wrap

  @media (max-width: 399px) 
    flex-direction: column

  li
    flex-basis: 50%

.flex--center
  display: flex
  justify-content: center

/* overrides */
.single__container
  max-width: 34rem
  margin: 0 auto
  padding-bottom: 4rem

  blockquote
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;

  ul,
  ol
    padding: 0
    margin-left: 15px
    list-style: none

    li
      margin-bottom: 0.5rem

      &::before
        content: '-'
        color: $darkGrey
        position: absolute
        margin-left: -15px

p > a 
  font-weight: 400
  color: $black

.newsletter__learn-more
  display: none
