@import '../_main'
@import '../partials/_social-icons'
@import '../partials/_github-syntax-theme'

blockquote
  width: 95%
  margin: 0 auto
  font-size: 1rem

p a
  font-weight: 400
  color: $black

img
  width: 100%
  max-width: 500px
  margin: 0 auto
  display: block

.post__container
  width: 34rem
  max-width: 100%
  margin: 0 auto
  padding-bottom: 4rem

.post__title 
  margin-top: 0
  margin-bottom: 0.5rem

.post__date
  color: $grey
  font-size: 0.8rem

.cp_embed_wrapper 
  margin-top: 1.5rem

.codepen__caption
  display: block
  width: 75%
  margin: 0.5rem auto 0
  color: #9b9b9b
  font-size: .8rem
  font-weight: 300
  text-align: center

.progress
  background: linear-gradient(to right, $primary var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 3;

.anchorized
  position: relative
  padding-top: 10px;

  a 
    text-decoration: none
    position: absolute
    left: -1rem
    color: $grey
    font-size: 1.2rem
    font-weight: 400

  a:hover
    color: $darkGrey

.note
  width: 90%
  margin: 1rem auto 0
  font-size: 12px
  text-align: center
  line-height: 1.5
  color: $grey

  code 
    font-size: 12px
    color: $darkGrey
    background-color: transparent;

    &:before,
    &:after
      content: '`'

  a
    color: $darkGrey

  a:hover
    color: $darkGrey

/* overrides */
.social-icons
  justify-content: center
  padding: 0 0 4rem