@import 'partials/_vars'
@import 'partials/_reset'
@import 'partials/_typography'
@import 'partials/_nav'

.container 
  height: 100%

main
  height: 100%
  padding: 0 1.5rem

  // compensates for the nav sidebar on tablet and desktop
  @media screen and (min-width: $tabletWidth)
    padding-left: "calc(1.5rem + %s)" % $navWidth