@import 'partials/_vars'
@import 'partials/_reset'
@import 'partials/_typography'
@import 'partials/_nav'

.container 
  height: 100%

.container.nav--active
  overflow: hidden

main
  padding: 3rem 1.5rem

  // compensates for the nav sidebar on tablet and desktop
  @media screen and (min-width: $tabletWidth)
    padding-left: "calc(1.5rem + %s)" % $navWidth