{{ define "progress" }}
<div class="progress"></div>
{{ end }}

{{ define "main" }}
<div class="post__container">
  <header class="post__header">
    <h1 class="post__title">{{.Title}}</h1>
    <time datetime="{{ .Date }}" class="post__date">{{ .Date.Format "Jan 2 2006" }}</time>
  </header>
  <article class="post__content">
    {{ .Content }}
  </article>
  {{ partial "tags.html" .}}

  {{ partial "newsletter-signup.html" .}}
</div>
{{ partial "social-icons.html" .}}
{{ end }}

{{ define "scripts" }}
<script src="/vendor/prism/prism.js"></script>
<script src="/js/progress.js"></script>
{{ end }}
