<div class="newsletter__container">
  <div class="newsletter__logo">
    <h2>Original<span>.</span>Copy</h2>
    <span>A newsletter on software & other assortments.</span>
  </div>
    
  <div class="newsletter__subscribe-form">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/jakewiesler"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/jakewiesler', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <div class="newsletter__subscribe-form-inputs">
        <input class="newsletter__subscribe-form-inputs--email" type="email" name="email" id="bd-email" placeholder="Enter your email">
        <input type="hidden" value="1" name="embed"/>
        <input class="newsletter__subscribe-form-inputs--submit" type="submit" value="Subscribe" />
      </div>
      <a class="newsletter__learn-more" href="/mail">What is this about?</a>
      <a class="newsletter__buttondown-link" href="https://buttondown.email" target="_blank">Powered by Buttondown</a>
    </form>
  </div>
</div>

