@import '_vars'
@import '_reset'
@import '_typography'
@import '_nav'

.container 
  height: 100%

main
  height: 100%
  padding: 0 1.5rem

  // compensates for the nav sidebar on tablet and desktop
  @media screen and (min-width: $tabletWidth)
    padding-left: "calc(1.5rem + %s)" % $navWidth